<div class="page-header" style="margin-bottom: 10px;">
  <div class="pull-right">
    <a href="/tv">Home</a>
  </div>
  <h1>
    Televisions
  </h1>

</div>


<button class="btn btn-block btn-default" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample" style="margin-bottom: 10px;">
  Filters
</button>
<div class="collapse" id="collapseExample">




<div class="well">
  <%= form_for_filterrific @filterrific do |f| %>
  <div class="row">
    <div class="col-md-3">
      <div class="form-group chardin_box" data-intro="Search by first name, last name, or email." data-position="top">
        <label>Search</label>
        <%= f.text_field(:search_query,
          class: 'filterrific-periodically-observed form-control'
            )%>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group chardin_box" data-intro="Filter by country." data-position="top">
            <label>Brand</label>
            <%= f.select(:with_brand, @filterrific.select_options[:with_brand], {include_blank: '- Any -' }, { :class => 'form-control' })%>
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group chardin_box" data-intro="Filter by registration date." data-position="top">
            <label>Technology</label>
            <!-- <#%= f.text_field(:with_regularprice, class: 'js-datepicker form-control') %> -->

             <%= f.check_box(:with_test, class: 'filterrific-periodically-observed') %> LED
          </div>
        </div>

        <div class="col-md-4">
          <div class="form-group chardin_box" data-intro="Change the sorting." data-position="top">
            <label>Sorted by</label>
            <%= f.select(:sorted_by, @filterrific.select_options[:sorted_by], {}, { :class => 'form-control' }) %>
          </div>
        </div>
      </div>
      <% end %>
    </div>
</div>
    <div id="results">
      <%= render(
        partial: 'televisions/list',
        locals: { televisions: @televisions }
        ) %>
      </div>
      <script>
        $('.js-datepicker').datepicker();
      </script>
